.Dropdown-control {
  font-weight: bold;
  border-radius: 22px;
  padding-top: 12px;
  padding-right: 12px;
  height: 44px;
  font-size: 18px;
  z-index: 101;
}

.Dropdown-arrow {
  top: 18px;
  right: 14px;
}

.Dropdown-menu {
  position: static;
  margin-top: -22px;
  padding-top: 22px;
  z-index: 100;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.dropdown {
  left: 24px;
  top: 24px;
  right: 32px;
}

.mapboxgl-map {
  position: absolute !important;
  top: 0px;
  left: 0px;
  z-index: -1;
}
