.MuiGrid-root {

}
.select123 {
  border: 1px solid black;
  border-radius: 10px;;
}

.MuiGrid-container {
  border: 0px;
}

.big-textfield .MuiInput-root {
  width: 100%;
}

.big-textfield label {
  text-align: left;
}

#tool-container {
   padding: 5px 32px 0px 32px;
   width: 100%;
   overflow: hidden;
   max-width: 320px;
   margin: auto;
   box-sizing: border-box;
}

h1 {
  text-align: left;
}
