.MuiGrid-root {
  
  margin-top: 2px !important;
  margin-bottom: 10px !important;
  border: 1px solid black;
  border-radius: 10px;;
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 50vw;
  left: 25vw;
}
.select123 {
  border: 1px solid black;
  border-radius: 10px;;
}

.MuiGrid-container {
  border: 0px;
}